page {
	height: 100%;
}
.popover {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&-block {
		width: 100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
	}

	&-button {
		padding: 10px;
		text-align: center;
		border: 1px solid black;
		border-radius: 5px;
	}
}
